# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data Files
data/pioneer_images/annotated
data/gripper_images/annotated
test_outputs

.vscode